#posts {
  .post_wrap {
    border-bottom: 1px solid grey;
  }
  .pagination {
    display: grid;
    grid-template-columns: auto 1fr auto;
    max-width: $postWidth;
    padding: 25px;
    font-weight: bold;
    margin: auto;
  }
}