.post {
  max-width: $postWidth;
  padding: 25px 20px 25px 20px;
  margin: auto;

  .post_title {
    font-weight: bold;
  }
  .post_meta {
  }
  .post_content {

    :not(pre) > code {
      padding: 0.3rem;
      font-size: 0.8em;
      background-color: darken(white, 5%);
      border-radius: 3px;
      white-space: nowrap;
    }

    %take_all_width {
      display: block;
      position: relative;
      max-width: calc(100vw - 40px);
      width: fit-content;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    img {
      @extend %take_all_width;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    }

    pre[class*="language-"] {
      @extend %take_all_width;
      min-width: 100%;
      font-size: 0.9rem;

      &.has_file_name {
        padding-top: 30px;
      }

      .file_name {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: fit-content;
        padding: 0.2rem;
        font-family: monospace;
        background-color: white;
        color: black;
        border: 1px solid;
        
      }
    }

    blockquote {
      @extend %take_all_width;
      min-width: 100%;
      border-left: 5px double gray;
      p {
        padding: 10px;
        padding-left: 30px;
        font-style: italic;
      }
      pre code {
        border-left: none;
      }
      
    }

    img {
      max-width: calc(100vw - 40px);
      width: fit-content;
    }
  }
}